  
<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head.ejs');%>   

</head>

<body>
    <header>
        <%- include('./partials/header.ejs');%>    
    </header>


    <main>
        <h1>NUESTROS SERVICIOS</h1>
    
        <div id="shopContent" class="shop-content" ></div>
        
        <h1 id="verCarrito" class="verCarrito">TUS SERVICIOS SELECCIONADOS🛒<span id="cantidadCarrito" class="cantidadCarrito"></span></h1>
        <div id="modalContainer"  class="modalContainer"> </div>
       
    </main>
</body>
<footer>
        <%-include('./partials/footer.ejs')%>   
</footer>

<script src="\source\public\scripts\addCart.js"defer></script>



</html>