<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head.ejs');%>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs');%>
    </header>


    <main>
        <h1>HISTORIA DE LA EMRESA</h1>
        <div class="box">
            <P Class="texto"> AM Desinfecciones es una empresa familiar que se dedica a realizar servicios de desinfeccion y control
                de plagas en la ciudad de cordoba capital (Cordoba , Argentina) y alrededores.Fue fundada por Angel
                Adrian Medina en el años 2005 , quien luego, sumo a ciertos colaboradores al trabajo , tanto familiares
                como empleados</P>

        </div>
        <H1> PUBLICO OBJETIVO</H1>
        <div class="box">
            <P class="texto"> El publico al que apunta la empresa es cualquier persona mayor a 18 años que tenga un local comercial ,
                y deba presentar una documentacion de que realizo el servicio de desinfeccion en dicho local. Tambien ,
                puede ser que quiera realizar el servicio en su domicilio parcticular ya que tiene algun problema de
                plagas</P>
        </div>


        <a href="/logout">Cerrar Sesion</a>
    </main>
    
</body>
<footer>
    <%-include('./partials/footer.ejs');%>
</footer>

</html>