<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head.ejs');%>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs');%>
    </header>


    <main>
        <h1>NUESTROS SERVICIOS</h1>
        <div class="box">
            <p>SERVICIO DE DESINFECCION PARA UN DOMICILIO</p>
            <div class="precio">$4.000</div>
            <button>SOLICITAR</button>
        </div>
        <div class="box">
            <p>SERVICIO DE DESINFECCION PARA UN LOCAL COMERCIAL</p>
            <div class="precio">$2.500</div>
            <button>SOLICITAR</button>
        </div>

        <div class="box">
            <p>SERVICIO PARA PLANTAS O MAS DE UN LOCAL</p>
            <select name="cantidad de locales" id="cant">
                <option selected value="2">2 LOCALES</option>
                <option value="3">3 LOCALES</option>
                <option value="4">4 LOCALES</option>
                <option value="5">MAS DE 5 LOCALES</option></select>
            <button>MAS DETALLES</button>
        </div>
    </main>
</body>
<footer>
    <%-include('./partials/footer.ejs');%>
</footer>

</html>