<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME-AM DESINFECCIONES</title>
    <Link rel="stylesheet" href="home.css">
</head>

<body>
    <header>
        <!--
        <nav>
            <hr>
            </hr>
            <ul>
                <div><img src="https://api.iconify.design/ic/outline-pest-control.svg" ALT="IconPest">
                    <p>SERVICIOS</p>
                </div>
                <div><IMG src="https://api.iconify.design/ic/outline-pest-control.svg" ALT="IconPest">
                    <p>CONTACTANOS</p>
                </div>
                <div><IMG src="https://api.iconify.design/ic/outline-pest-control.svg" ALT="IconPest">
                    <p>PREGUNTAS FRECUENTES</p>
                </div>
                <img class="logo" src="../IMAGENES/LogoDeLaEmpresa.png" alt="LogoDeAM">
            </ul>
        </nav>
        </div>
    -->
    </header>


    <main>
        <h1>NUESTROS SERVICIOS</h1>
        <div class="box">
            <p>SERVICIO DE DESINFECCION PARA UN DOMICILIO</p>
            <div class="precio">$4.000</div>
            <button>SOLICITAR</button>
        </div>
        <div class="box">
            <p>SERVICIO DE DESINFECCION PARA UN LOCAL COMERCIAL</p>
            <div class="precio">$2.500</div>
            <button>SOLICITAR</button>
        </div>

        <div class="box">
            <p>SERVICIO PARA PLANTAS O MAS DE UN LOCAL</p>
            <select name="cantidad de locales" id="cant">
                <option selected value="2">2 LOCALES</option>
                <option value="3">3 LOCALES</option>
                <option value="4">4 LOCALES</option>
                <option value="5">MAS DE 5 LOCALES</option></select>
            <button>MAS DETALLES</button>
        </div>
    </main>
</body>
<footer>
    <%-include('./partials/footer.ejs');%>
</footer>

</html>