<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    
    <main> 
        
        <p1>SOS CLIENTE REGULAR NUESTRO?</p1>
        <div class="ClienteRegular">
            <form action="/login" method="POST">
                <label for="usernameOrEmail">NOMBRE DE USUARIO O NEGOCIO</label><br>
                <input type="text" name="usernameOrEmail" id="usernameOrEmail" required> <br>

                <label for="password">Contraseña</label><br>
                <input type="password" name="password" id="password" required> <br>
                <button type="submit">ACCEDER</button>
            

            </form>
        </div>

        <p1>SOS CLIENTE NUEVO? DEJANOS TUS DATOS</p1>

        <div class="ClienteNuevo">
            <form action="/registrar" method="POST">

                <label for="BusinessName">NOMBRE DE NEGOCIO</label><br>
                <input type="text" name="BusinessName" id="BusinessName" > <br>
                
                <label for="Email">DEJANOS TU EMAIL DE CONTACTO</label><br>
                <input type="email" name="Email" id="Email" > <br>

                <label for="username">DEJANOS TU NOMBRE Y APELLIDO</label><br>
                <input type="text" name="username" id="username"> <br>

                <button type="submit">REGISTRARSE</button>
            </form>
        </div>
    </main>


</body>


</html>