<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    
    <main>
        <p1>SOS CLIENTE REGULAR NUESTRO?</p1>
        <div class="ClienteRegular">
            <form action="/login" method="POST">
                <label for="usernameOrEmail">NOMBRE DE USUARIO O NEGOCIO</label><br>
                <input type="text" name="usernameOrEmail" id="usernameOrEmail" required> <br>

                <label for="password">Contraseña</label><br>
                <input type="password" name="password" id="password" required> <br>
                <button type="submit">ACCEDER</button>


            </form>
        </div>
        <p1>SOS CLIENTE NUEVO? DEJANOS TUS DATOS</p1>
        <div class="ClienteNuevo">
            <p>NOMBRE DE TU NEGOCIO:</p>
            <div class="box">
                <input type="text">
            </div>
            <p>DIRECCION DE TU NEGOCIO:</p>
            <div class="box">
                <input type="text">
            </div>
            <div class="botones">
                <p>ACCEDER</p>
            </div>
        </div>
    </main>


</body>


</html>