<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head.ejs');%>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs');%>
    </header>
    <main>
        <p1>SOS CLIENTE REGULAR NUESTRO?</p1>
        <div class="ClienteRegular">
            <p>NOMBRE DE TU NEGOCIO:</p>
            <div class="box">
            <input type="text"></div>
            <p>DIRECCION DE TU NEGOCIO:</p>
            <div class="box">
            <input type="text"></div>
            <div class="botones">
            <p>ACCEDER</p></div>
        </div>
        <p1>SOS CLIENTE NUEVO? DEJANOS TUS DATOS</p1>
        <div class="ClienteNuevo">
            <p>NOMBRE DE TU NEGOCIO:</p>
            <div class="box">
            <input type="text"></div>
            <p>DIRECCION DE TU NEGOCIO:</p>
            <div class="box">
            <input type="text"></div>
            <div class="botones">
            <p>ACCEDER</p></div>
        </div>
    </main>


</body>
<footer>
    <%-include('./partials/footer.ejs');%>
    
</footer>

</html>