<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head.ejs');%>

</head>

<body>
    <header>
        <%- include('./partials/header.ejs');%>
    </header>
    <main>
        <h1>DETALLES DEL SERVICIO Y PREGUNTAS FRECUENTES</h1>
        <div class="producto">
            <p1>SERVICIO DE DESINFECCION PARA UN DOMICILIO</p1>
            <p2>$4.000</p2>
        </div>
        <div class="contenedo_msj">
            <!-- mensaje izq -->
            <div class="mensaje-izq">
                <div class="cuerpo_msj">
                    <div class="msj-texto">
                        <p>Es nesesario abandonar la casa ? Por cuanto tiempo? luego que se recomienda ?</P>
                    </div>
                </div>
            </div>
            <!-- mensaje der -->
            <div class="mensaje-der">
                <div class="cuerpo_msj">
                    <div class="msj-texto">
                        <p>No es necesario abandonar la casa despues del servicio ,solo se recomienda ventilar despues
                            de media hora</P>
                    </div>
                </div>
            </div>

            <!-- mensaje izq -->
            <div class="mensaje-izq">
                <div class="cuerpo_msj">
                    <div class="msj-texto">
                        <P>Es peligroso para las mascotas ? </P>
                    </div>
                </div>
            </div>
            <!-- mensaje der -->
            <div class="mensaje-der">
                <div class="cuerpo_msj">
                    <div class="msj-texto">
                        <P>La mayoria de los productos que utilizamos ,no afecta a las mascotas , de todos modos
                            ,siempre recomendamos que las mantengan alejadas del lugar desinfectado</p>
                    </div>
                </div>
            </div>

            <!-- mensaje izq -->
            <div class="mensaje-izq">
                <div class="cuerpo_msj">
                    <div class="msj-texto">
                        <P>Con cuanto tiempo de antelacion se puede llamar ? </P>
                    </div>
                </div>
            </div>
            <!-- mensaje der -->
            <div class="mensaje-der">
                <div class="cuerpo_msj">
                    <div class="msj-texto">
                        <P>Nos pueden llamar con un dia de anticipacion y podremos ir al dia siguiente o durante esa
                            misma semana</P>
                    </div>
                </div>
            </div>
        </div>
        
    </main>

</body>
<footer>
    <%-include('./partials/footer.ejs');%>
</footer>

</html>