@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Prompt&display=swap');
@import url('https://api.iconify.design/ic/outline-pest-control.svg');

/*mobile w:360 h 740
  desktop w:1280 h720
*/
* {
    margin: 0;
    font-family: inika;
    padding: 0px;
    box-sizing: border-box;
}

/*--------------header---------------*/
hr {
    width: 100%;
    height: 20px;
    background-color: #ff5151;
}

body nav img {
    width: 45%;
    height: auto;
    
}

nav {
    width: 100%;
    height: 20%;
    align-items: center;
}


/*-----------body--------------*/
main {
    background-color: #699BF7;
    display: flex;
    flex-direction: column;
}
.ClienteRegular, .ClienteNuevo{
    width:60%;
    background-color: #ff5151;
    padding:15px;
    margin:10px;
    border-radius:5px;
    display:flex;
    align-items: center;
    flex-direction: column;
    
}
.box, .botones{
    background-color:#4ECB71;
    padding:10px 10px 10px 10px;
    border-radius: 2px;
}
.botones{background-color:#4ECB71;
    margin:5px;
    padding:2px 2px 2px 2px;

}
input{
    width: 100%;
    align-items: center;
}

/*-----------footer-------------------*/
footer {
    background-color: #ff5151;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer img {
    width: 25px;
    height: 25px;
}

footer div {
    padding: 5px;
    width: 130px;
    text-align: center;
}