<div class="footer">
    <a href="https://www.facebook.com/AMDesinfecciones/">
        <img class="logoDeFace" src="/imagenes/facebook.png" alt="logo de face">AM DESINFECCIONES</a>
</div>
<div class="footer">
    <a href="https://wa.me/c/5493512262974">
        <img class="LogoDeWhats" src="/imagenes/whatsapp.png" alt="logo de wpp">+54 9 351 226-2974</a>
</div>
<div class="footer">
    <a href="https://www.instagram.com/amdesinfecciones/?hl=es-la">
        <img class="LogoDeInsta" src="/imagenes/instagram.png" alt="Logo de Instagram">AM DESINFECCIONES</a>
</div>
<link rel="stylesheet" href="/login.css">
<link rel="stylesheet" href="/home.css">
<link rel="stylesheet" href="/carrito.css">
<link rel="stylesheet" href="/servicios.css">