<nav>
    <hr></hr>
    <ul>
        <div><img src="https://api.iconify.design/ic/outline-pest-control.svg" ALT="IconPest">
            <p>SERVICIOS</p></div>
        <div><IMG src="https://api.iconify.design/ic/outline-pest-control.svg" ALT="IconPest">
            <p>CONTACTANOS</p></div>
        <div><IMG src="https://api.iconify.design/ic/outline-pest-control.svg" ALT="IconPest">
            <p>PREGUNTAS FRECUENTES</p></div>
        <img class="logo" src="../../../IMAGENES/LogoDeLaEmpresa.png" alt="LogoDeAM">
    </ul>
</nav>
</div>
<link rel="stylesheet" href="/login.css">
<link rel="stylesheet" href="/home.css">
<link rel="stylesheet" href="/carrito.css">
<link rel="stylesheet" href="/servicios.css">