@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Prompt&display=swap');
@import url('https://api.iconify.design/ic/outline-pest-control.svg');

*{
    margin:0;
    font-family:inika
}
ul{
    padding:10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header img{
    width: 200px;
    height: 100%;  
}
main {
    background-color: #699BF7;
}
main a{
    margin:20px;
    padding:20px 20px;
    font-size: large;
}
main p{
    background-color: #4ECB71;
    width: 250px;
    height: 100%;
    padding: 5px;
    margin:5px 50px
}
.producto{
    margin:20px 200px;
    padding: 40px;
    background-color: #4ECB71;
    display: flex;
    justify-content:center;
}
main .producto{
    font-size: larger;
    justify-content: space-around;
}
.preguntas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer{
    padding: 50px;
    background-color: #ff5151;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer img{
    width: 40px;
    height: 100%;
}
footer p{
    display:flex;
    flex-direction:column;
    align-items: center;
}
